


@media screen and (max-width:575px) {
    .main-nav ul{
        display: none;
    }
    .nav-var{
        display: block;
    }
    .nav-title,.active-title{
        font-size: 1rem;
        text-wrap: wrap;
    }
    .nav-logo{
        align-items: center;
    }
    .select-option{
        flex-direction: column;
    }
    .auto-title h1{
        font-size: 22px;
    }
    .auto-title p{
        font: 14px;
    }
    .banner-content{
        padding: 25px 0px;
    }
    .select{
        margin: 16px;
    }
    .banner{
        height: 700px;
    }
}
@media screen and (min-width:575px) and (max-width:992px) {
    
    .select-option{
        flex-direction: column;
    }
    .main-nav ul{
        display: none;
    }
    .nav-var{
        display: block;
    }
    .auto-title h1{
        font-size: 22px;
    }
    .auto-title p{
        font: 14px;
    }
    .banner-content{
        padding: 25px 0px;
    }
    .select{
        margin: 16px;
    }
    .banner{
        height: 700px;
    }
}